{
  "env": {
    "browser": true,
    "node": true
  },

  "extends": [
    "@nuxtjs/eslint-config-typescript",

    "plugin:prettier-vue/recommended",
    "plugin:vue/strongly-recommended",

    "@vue/prettier/@typescript-eslint",
    "@vue/typescript/recommended"
  ],

  "root": true,

  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/no-var-requires": "off",

    "no-console": "off",
    "prefer-rest-params": "off",
    "require-await": "off",
    "vue/no-lone-template": "off",

    "vue/attributes-order": ["error", {
      "alphabetical": true
    }],

    "vue/max-attributes-per-line": ["error", {
      "singleline": 3
    }],

    "vue/attribute-hyphenation": ["error", "always", {
      "ignore": ["viewBox"]
    }],

    "vue/no-v-html": "off"
  },

  "settings": {
    "prettier-vue": {
      "SFCBlocks": {
        "template": false
      }
    }
  }
}
