{
  "extends": [
    "stylelint-config-idiomatic-order",
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],

  "rules": {
    "at-rule-no-unknown": null,
    "declaration-empty-line-before": null,
    "value-list-max-empty-lines": null,
    "no-invalid-position-at-import-rule": null
  }
}
