.output/
.data/
.nuxt/
.nitro/
.cache/
dist/


backend/.tmp/
backend/public/uploads/
backend/data/          

node_modules/
**/node_modules/

package-lock.json

logs/
*.log

.DS_Store
.fleet
.idea/
.vscode/

.env
.env.*
!.env.production
!.env.development
!.env.example

dist/
