@use 'sass:map';
$bar-height: 48px;
$bar-height-mobile: 48px;
$under-bar-heigth: 40px;
$header-height-mobile: $bar-height + $under-bar-heigth;



@mixin waterfall-subscription-is-hidden() {
  @media only screen and (max-height: 900px) {
    @content;
  }
}

