@use './color' as *;

$header-height-mobile: 36px;
$header-height-tablet: 68px;
$header-height-desk: 102px;
$nav-mobile-index: 999;

//----------------Light Theme--------------//

$main: color('gray');
$secondary: color('blue');
$accent:color('red');

$first-font: color('black');
$second-font: color('green');
$accent-font: color('red');


//-----------------Dark Theme--------------//

